{{set . "title" "Blog"}}
{{template "header.html" .}}


<div class="container">
<header class="page-header" style="">
  <div class="container">
    <div class="row">
      <h2>Interesting Tidbits</h2>
      <p></p>
    </div>
  </div>
</header>

<div class="row">
    <div class="col-sm-12">
        <h3>Tidbit Header 1</h3>
    </div>
    <div class="col-lg-12">
        There will be quite a bit of text here in order to fill a never really
        ending box of text having to do with a code explaination
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Code Blocks</h3>
        </div>
        <div class="col-lg-12">
            Here is an example of a codeblock: <br>
            <div class="col-md-6">

                <pre class="prettyprint lang-go">func Run(s *Server) {
	rand.Seed(time.Now().UTC().UnixNano())
	go func() {
		address, err := net.ResolveTCPAddr("tcp", s.Port)
		if err != nil {
			log.Fatal(err)
		}

		inbound, err := net.ListenTCP("tcp", address)
		if err != nil {
			log.Fatal(err)
		}

		rpc.Register(s)
		rpc.Accept(inbound)
	}()
}
        </pre>
            </div>
        </div>
    </div>
</div>


{{template "footer.html" .}}
