{{set . "title" "cmalloc blog"}}
{{template "header.html" .}}


<div class="container">
<header class="page-header" style="">
  <div class="container">
    <div class="row">
      <h2>Interesting Tidbits</h2>
    </div>
  </div>
</header>

<div class="row">
    <div class="col-sm-12">
        <h3>Golang Channels</h3>
    </div>
    <div class="col-lg-12">
        <p>
            We like golang channels because they are good. I should write more about
            channels.
        </p>

</pre>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Golang RPC</h3>
        </div>
        <div class="col-lg-12">
            <p>
                Before we can talk about Remote Procedure Calls, we first need to
                define how a process can be bound to a particular TCP (or UDP) port.
                Go provides very simple interfaces to make this task trivial:
            </p>
            <div class="col-md-6">
                <pre class="prettyprint lang-go">
import(
    "log"
    "net"
    "net/rpc"
)

func Run(s *Server) {
    address, err := net.ResolveTCPAddr("tcp", s.Port)
    if err != nil {
        log.Fatal(err)
    }

    inbound, err := net.ListenTCP("tcp", address)
    if err != nil {
        log.Fatal(err)
    }

    rpc.Register(s)
    rpc.Accept(inbound)
}
            </div>
            <p>
                Using Go's net/rpc package, we can directly bind a program
                to a specified port with ease. Then....
            </p>
            <p>
                <a href="https://golang.org/pkg/net/rpc/">Go Official RPC Page</a>
            </p>
        </div>
    </div>
</div>


{{template "footer.html" .}}




